:root {
    --bg-color: #1f1e1e;
    --bg-color-secondary: #3a3838;
    --primary-color: #bd1c1c;
    --secondary-color: #7c1111;
    --t-color: #e0dede;
}

hr {
    position: relative;
    /* Necessario per posizionare l'ombra */
    height: 0;
    /* Imposta l'altezza a 0 per non mostrare la linea */
    margin: 30px 0;
    /* Aggiungi margine per distanziare gli elementi */
}


body {
    background-color: var(--bg-color);
    color: var(--t-color);
    font-family: 'Bangers', sans-serif;
}

header,
main {
    background-color: var(--bg-color-secondary);
}

footer {
    z-index: 1030;
    background-color: #1f1e1e;
    box-shadow: 0 -4px 6px #1f1e1e;
}

.nb a {
    color: var(--t-color);
}


.nb a:active,
.nb a:focus,
.nb a:hover {
    color: var(--t-color);
}

a {
    color: var(--primary-color);
    cursor: pointer;
}

a:active,
a:focus,
a:hover {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--bg-color);
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--secondary-color);
    border: 1px solid var(--bg-color);
}

.form-control:focus {
    box-shadow: 0 0 12px var(--primary-color);
}

.form-check-input:active,
.form-check-input:focus,
.form-check-input:checked {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 12px var(--secondary-color);
}

.bi {
    font-size: 2.2rem;
}

.offcanvas a {
    text-decoration: none;
    color: var(--bg-color);
}


.offcanvas a:active,
.offcanvas a:focus,
.offcanvas a:hover {
    text-decoration: none;
    color: var(--bg-color-secondary);
}

.my-container {
    border-radius: 15% 5% 15% 5%;
    /* Arrotonda i due angoli opposti */
    background-color: var(--bg-color);
    transition: transform 0.1s ease;
    
}

.d-flex.flex-row .my-container{
    cursor: pointer;
}

.d-flex.flex-row .my-container:hover,
.d-flex.flex-row .my-container:active {
    transform: scale(1.1);
}

.my-container-overlay {
    position: relative;
    z-index: 1;
    height: 70%;
    top: -90%;
    clip-path: polygon(0% 0%,
            /* Angolo superiore sinistro */
            100% 0%,
            /* Angolo superiore destro */
            100% 40%,
            /* Angolo destro più lungo */
            0% 80%
            /* Angolo inferiore sinistro */
        );
    border-radius: 15% 5% 15% 10%;
    pointer-events: none;
    margin: 0.5rem;
}

.my-container>.d-flex,
.my-container>.row {
    position: relative;
    z-index: 2;
}

.oro {
    background: linear-gradient(135deg,
            rgba(255, 223, 0, 0.8),
            /* Oro brillante */
            rgba(255, 215, 0, 1),
            /* Un altro tono di oro chiaro */
            rgba(255, 184, 0, 0.8),
            rgba(255, 215, 0, 0.9),
            /* Oro più scuro, ma ancora brillante */
            rgba(255, 223, 0, 0.7)
            /* Oro brillante */
        );
}

.argento {
    background: linear-gradient(135deg,
            rgba(192, 192, 192, 0.7),
            /* Argento brillante */
            rgba(211, 211, 211, 0.9),
            /* Argento chiaro brillante */
            rgba(169, 169, 169, 0.8),
            /* Grigio scuro con trasparenza */
            rgba(211, 211, 211, 0.9),
            /* Argento chiaro brillante */
            rgba(192, 192, 192, 0.7)
            /* Argento brillante */
        );
}

.emerald {
    background: linear-gradient(135deg,
            rgba(46, 139, 87, 0.7),
            /* Verde smeraldo brillante (leggermente trasparente) */
            rgba(0, 128, 0, 0.9),
            /* Verde smeraldo scuro (più intenso e opaco) */
            rgba(60, 179, 113, 0.8),
            /* Verde smeraldo medio (con leggera trasparenza) */
            rgba(46, 139, 87, 0.7),
            /* Verde smeraldo brillante (trasparente) */
            rgba(0, 128, 0, 0.9),
            /* Verde smeraldo scuro */
            rgba(60, 179, 113, 0.8)
            /* Verde smeraldo medio */
        );
}

.copper {
    background: linear-gradient(135deg,
            rgba(184, 115, 51, 0.8), /* Rame chiaro (trasparente) */
            rgba(139, 69, 19, 0.9), /* Rame scuro (più intenso) */
            rgba(218, 165, 32, 0.8), /* Ottone brillante */
            rgba(184, 115, 51, 0.7), /* Rame chiaro */
            rgba(139, 69, 19, 0.9), /* Rame scuro */
            rgba(218, 165, 32, 0.8) /* Ottone brillante */
        );
}

.img-thumbnail{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
}

.cover-img {
    width: 100%; /* L'immagine si estende completamente in larghezza */
    height: 100%; /* L'immagine si estende completamente in altezza */
    object-fit: cover; /* Copre tutta l'area senza distorsioni */
    object-position: center; /* Posiziona il contenuto centrato */
}

#collectionPage main .card{
    width: 100px; 
    height: 150px; 
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

#collectionPage main .card:hover, #collectionPage main .card:active{
    transform: scale(1.1);
}
